body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.app {
    height: 694px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.slideshow {
    flex: 1;
    background-color: #768F72;
    position: relative;
    overflow: hidden;
}
.slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    opacity: 0;
    transform: scale(1);
    transition: all .9s ease-out;
}
.slide:nth-last-child(2) {
    opacity: 1;
    transform: scale(1.08);
}
.header {
    text-align: center;
    padding: 20px 0;
    background-color:#443AC2;
    color: whitesmoke;
}
.header h1 {
    margin: 0 0 10px 0;
    font-family: 'Chango', cursive;
}
.header select {
    font-size: 1rem;
    background-color: #BEA0F6;
}